# DB
DATABASE_URL=mysql://root:password@localhost:3306/ecom_db
# DATABASE_URL="mysql://root:password@mysql_db:3306/ecom_db"

# AUTH
JWT_ACCESS_KEY='access-ecom-backend'
JWT_RESFRESH_KEY='refresh-ecom-backend'
SALT_ROUNDS=10

# MAIL
MAIL_USER='adalberto.ankunding94@ethereal.email'
MAIL_PASS='pyyzR8PwxqkXcbAEjp'
